{% extends 'base.html.twig'%} 

{% block body %}
<h1>Bienvenue dans mon site !</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque officia quos, facere aspernatur aperiam sequi sapiente enim, quidem obcaecati magnam tempore doloremque molestias assumenda voluptas rem quas, asperiores in perferendis. Temporibus aperiam saepe molestiae aut suscipit ducimus accusantium, mollitia nostrum.</p>
<p>Architecto nostrum, eos cupiditate doloremque mollitia vel beatae recusandae aliquid debitis dolorum, illo, totam quis tenetur quam a est assumenda dignissimos optio enim? Doloremque modi commodi culpa voluptas nesciunt nobis! Ullam qui minus mollitia sed, iure dolore doloribus aliquid optio.</p>


{% endblock %}